.card{
    &__list{
        margin-top: 40px;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;
    }
    &__container{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    &__item{
        cursor: pointer;
        border-radius: 5px;
        background: $color_white;
        max-width: 270px;
        width: 270px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        &__description{
            padding: 10px
        }
        &__title{
            color: $color_black;
            font-weight: 600;
            margin-bottom: 5px;
            font-size: 17px;
        }
        &__date{
            font-size: 12px;
            color: $color_main;
            text-align: right;
            display: block;
            i{
                margin-right: 4px;
            }
        }
        &__text{
            font-size: 15px;
            color: $color_gray;
            margin-bottom: 20px;
        }
        &__img{
            border-radius: 5px 5px 0 0;
        }
        &:hover{
            animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}


@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
