.footer{
    width: 100%;
    &__bot{
        background: $color_black_light;
        padding: 15px 0;
        &__rights{
            font-size: 13px;
            margin: 0;
            color: $color_white;
        }
    }
    &__logo{
        width: 33.333%;
    }
    &__top{
        padding-top: 30px;
        background: #1f1f1f;
        padding-bottom: 30px;
    }
    ul{
        padding: 0;
    }
    li{
        margin-bottom: 10px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
    }
    &__center{
        width: 33.333%;
    }
    &__redes{
        display: flex;
        justify-content: center;

        a{
            margin: 0 15px;
            padding: 6px;
            border-radius: 4px;
            color: $color_white;
            transition: .3s ease all;
            i{
                font-size: 30px;
            }
        }
        a:first-child{
            margin-left: 0;
        }
        &__github{
            &:hover{
                background: $color_black;
            }
        }
        &__gitlab{
            &:hover{
                background:$color_gitlab;
            }

        }
        &__youtube{
            &:hover{
                background:$color_youtube;
            }

        }
    }
    &__title{
        color: $color_white;
        margin-bottom: 15px;
        font-size: 15px;
        text-align: center;
    }
    &__suscribe{
        width: 33.333%;
        &__form{
            display: flex;
        }
        &__input{
            border-radius: 4px 0 0 4px !important;
        }
        &__btn{
            border-radius: 0 4px 4px 0 !important;
            font-size: 14px;
        }
    }
    &__link{
        color: $color_blue;
        transition: .3s ease all;
        font-size: 17px;
        &:hover{
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 768px) {
  .footer{
    height: auto;
    position: inherit;
    &__left{
        margin-bottom: 10px;
    }
    &__container{
        flex-direction: column;
    }
  }
}

@media screen and (max-width: 360px) {
    .footer{
        &__container{
           text-align: center;
        }
        &__left{
            flex-direction: column;
            &__ul{
                margin: auto;
            }
        }

      }
}