.header{
    padding: 15px 0 15px 0;
    background-color: $color_white;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.64);
    position: relative;
    .container{
        display: flex;
        justify-content:space-between;
        align-items:center;
    }
    &__logo{
        width: 140px;
        height: auto;
    }

    &__menu{
        display: flex;
        align-items:center;

        &__ul{
            display: flex;

        }
        &__link{
            color: $color_main;
            margin: 0 20px;
            font-size: 18px;
            transition: .3s ease all;

            &:hover{
                font-weight: bold;
                text-decoration: underline;
                // color: $color_black;
            }
        }
    }
}

