.products{
    display: flex;
    flex-wrap:wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.product{
    // margin-left: -15px;
    // margin-right: -15px;
    margin-bottom: 30px;
    $root: &;
    &__content{
        padding-left: 15px;
        padding-right: 15px;
    }
    &__content_btn_recharge{
        width: 170px;
        text-align: center;
        margin-top: 20px;
        &__text{
            font-size: 12px;
            color: $color_white;
            margin-bottom: 5px;
        }
        &--center{
            margin: auto;
        }
    }
    &__recharge{
        display: flex;
        justify-content:flex-end;
        align-items:center;
    }
    &__link{
        color: $color_white;
        margin-top: 20px;
        transition: .3s ease all;
        display: inline-block;
        border-bottom:1px solid transparent;
        font-size: 14px;
        &:hover{
            border-bottom:1px solid $color_white;
        }
    }
    &__description{
        padding: 15px;
        display: block;
        color: $color_black;
        background: $color_white;
        &--portada{
            display: none;
        }
        p{
            font-size: 15px;
        }
    }
    &__image{
        position: relative;
    }
    &__info{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.3s ease all;
        background: rgba($color_black, 0);
        top:0;
        padding:15px;
        &__block{
            width: 200px;
            transition: 0.3s ease all;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin: auto;
            opacity: 0;
            &__top{
                margin-top: 10px;
                text-align: center;
            }
            &__bot{
                &__credit{
                    margin-bottom: 20px;
                    display: flex;
                    justify-content:center;
                   &__actions{
                        color: $color_white;
                        font-size: 36px;
                        border-radius: 50%;
                        border:1px solid $color_white;
                        width: 45px;
                        height: 45px;
                        cursor: pointer;
                        &--plus{
                            padding: 4px 0;
                        }
                        &--restar{
                            padding: 3px 0;
                        }
                        &:hover{
                            background: $color_white;
                            color:$color_black;
                        }
                        &--dark{
                            border:1px solid $color_black;
                            color: $color_black;
                            &:hover{
                                background: $color_black;
                                color:$color_white;
                            }
                        }
                   }
                   &__point{
                        font-size: 24px;
                        color: $color_white;
                        margin: 0 15px;
                        margin-top: 11px;
                        &--dark{
                            color: $color_black;
                        }
                   }
                }
            }
        }
    }
    &__name{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 3px;
    }
    &:hover{
        #{$root}__info {
            background: rgba($color_black, 0.8);
            &__block{
                opacity: 1;
            }
        }
    }
}
.product_detail{
    padding-top: 40px;
    &__des{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        margin-left: 30px;
        width: calc(100% - 430px);
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
    }
    &__name{
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 5px;
    }
    &__paraf{
        margin-top: 20px;
    }
    &__actions{
        margin-top: 80px;
        &__text_options{
            color: $color_black;
            font-size: 12px;
            margin-bottom: 5px;
        }
        &__credit{
            font-size: 16px;
            margin-bottom: 3px;
            margin-top: 5px;
        }
        &__total_credit{
            font-size: 42px;
            font-weight: 400;
        }
    }
    &__terms{
        margin: 40px auto;
        max-width: 600px;
        text-align: justify;
        color: $color_border_btn;
        font-weight: 400;
        &__title{
            text-align: center;
            margin-bottom: 10px;
            color: $color_black;
        }
    }
}
@media screen and (max-width: 1100px){
    .product__description--portada{
        display: block;
    }
}
@media screen and (max-width: 960px){
    .product__info{
        display: none;
    }
    .product__description--portada{
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .product_detail{
        &__info{
            flex-direction: column-reverse;
            figure{
                img{
                    margin: auto;
                }
            }
        }
        &__actions{
            margin-top: 30px;
        }
        &__des{
            width:100%;
            max-width: 600px;
            margin: auto;
            margin-bottom: 15px;
        }
    }
    .product{
        &__name{
            font-size: 18px;
        }
    }

}