.tags{
    margin-top: 30px;
    &__list{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;

    }
    &__item{
        margin: 0 10px;
        padding: 8px;
        border-radius: 4px;
        color: $color_blue;
        cursor: pointer;
        font-size: 14px;
        transition: .3s ease all;
        background: $color_white;
        border: 1px solid $color_blue;
        &:hover{
            background: $color_blue;
            color: $color_white;
        }
    }
}
