.about_me{
    &__header{
    }
    &__title{
        font-size: 36px;
        padding: 50px 0;
    }
    &__content{
        background: $color_white;
        p{
            font-size: 17px;
            margin-bottom: 15px;
            line-height: 25px;
        }
    }
    &__container{
        max-width: 900px;
        padding: 30px 0;
    }
}