.page_create_account{
    padding: 50px 0;
    background: $bg_register;
     &__content_form{
        max-width: 500px;
        margin: auto;
        &--large{
            max-width: 800px;
        }
        &__perfil{
            display: flex;
            align-items:center;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
        &__checkbox{
            width: 100%;
            margin-top: 10px;
        }
        &__title{
            margin-bottom: 20px;
            margin-top: 40px;
            font-size: 18px;
        }
    }
    &__content_pasos{
        display: flex;
        justify-content: center;
        width: 100%;

    }
    &__paso{
        position: relative;
        margin: 20px 20px 30px ;
        padding: 12px 12px;
        font-size: 20px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-weight: bold;
        text-align: center;
        background: $color_btn;
        color: $color_border_btn;
        border: 2px solid $color_border_btn;
        &--active{
            color: $color_white;
            border: 2px solid $color_white;
            background: $color_orange;
        }
        &--check{

            background: $color_orange;
            border: 2px solid $color_orange;
            color: $color_white;
        }
    }
    &__paso:first-child:after{
        content: '';
        width: 50px;
        height: 3px;
        position: absolute;
        left: 100%;
        top:22px;
        background: $color_orange;
    }

}
