.home{
    padding-bottom: 40px;
    &__banner{
        position: relative;
        &__overlay{
            background: rgba($color_black, .5s);
            position: absolute;
            z-index: 50;
            width: 100%;
            height: 100%;
        }
    }
    &__slogan{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 42%;
        max-width: 500px;
        text-align: center;
        color: $color_white;
        z-index: 80;
        &__title{
            font-size: 50px;
            text-shadow: 1px 2px 100px  $color_white;

        }
        &__text{
            font-size: 32px;
            text-shadow: 1px 2px 100px  $color_white;
        }
    }
    &__post{
        padding: 40px 0;
    }
}
