.login{

    width: 100%;
    background: $color_orange;
    &__container{
        display: flex;
    }
    &__banner{
        display: block;
        min-height: calc(100vh - 252px);
        max-width: 800px;
        background-size: cover;
        background-position: center center;
    }
    &__form{
        margin-top: 40px;
        &__content{
            display: flex;
        }
        &__input{
            margin-right: 30px;
        }
    }
    &__content{
        max-width: 600px;
        padding: 20px 0;
        &__title{
            color: $color_white;
            font-size: 30px;
            font-weight: bold;
        }
    }
    &__left{
        min-height: calc(100vh - 252px);
        width: 50%;
        height: 100%;
        background: $color_orange;
        display: flex;
        padding-right: 80px;
        align-items: center;
    }
    &__right{
        width: 50%;
        height: 100%;
        min-height: calc(100vh - 252px);
    }
}