.pages{
    background: $color_white;
    padding: 40px 50px;
    box-sizing: border-box;
    &__title{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__subtitle{
        font-size: 17px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 600;
    }
    &__text{
        font-size: 16px;
    }
    &__main{
        font-family: $font_regular;
        p, li, strong, h1, h2, h3, h4, h5, h6 {
            font-family: $font_regular;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        padding-left: 40px;
        li{
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            list-style-type: disc;
        }
    }
}