.post{
    &__title{
        font-size: 36px;
        padding: 50px 0;
    }
    &__container{
        background: $color_white;
        padding: 30px 0;

        p{
            font-size: 17px;
            margin-bottom: 15px;
            line-height: 27px;
        }
    }
    &__con{
        max-width: 900px;
        margin: auto;
    }
}