.page_recharge{
    padding-top: 40px;
    padding-bottom: 40px;
    background: $bg_register;
    min-height: calc(100vh - 77px);
    &__pago_efectivo{
        &__header{
            display: flex;
            justify-content:center;
            align-items:center;
            margin-bottom: 20px;
            h3{
                margin-right: 10px;
            }
        }
        &__medios{
            margin-bottom: 20px;
            ul{
                li{
                    margin-bottom: 10px;
                }
            }
        }
    }
    &__container{
        max-width: 900px;
        background: $color_white;
        padding: 30px 20px;
    }
    &__title{
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px
    }
    &__text{
        text-align: center;
    }
    &__items{
        display: flex;
        flex-wrap:wrap;
        margin: 30px -5px;
    }
    &__item{
        width: 33.33%;
        padding: 0px 5px;
        margin-bottom: 10px;
        &__border{
            border: 1px solid $color_border_btn;
            background: $color_white;
            padding: 30px 20px;
            border-radius: 4px;
            display: flex;
            justify-content:space-between;
        }
    }
    &__pre_checkout{
        max-width: 270px;
        margin: auto;
        text-align: center;
        &__total_text{
            font-size: 15px;
            margin-bottom: 5px;
        }
        &__total{
            font-size: 36px;
            margin-bottom: 15px;
        }
        &__selected_text{
            font-size: 13px;
            margin-bottom: 10px;
        }
        &__cards{
            display: flex;
            justify-content:space-between;
            margin-bottom: 25px;
        }
        &__check{
            margin-bottom: 25px;
            display: block;
            font-size: 14px;
            a{
                text-decoration: underline;
                color: $color_black;
            }
        }
        &__btn{
            width: 200px;
            margin: auto;
        }
    }
}
@media screen and (max-width: 768px){
    .page_recharge{
        &__item{
            width: 50%;
            &__border{
                padding: 20px 15px;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .page_recharge{
        &__item{
            width: 100%;
        }
    }
}