.register{
    padding: 80px 0;
    background: $bg_register;
    min-height: calc(100vh - 77px);
    &__block{
        max-width: 350px;
        margin:auto;
        text-align: center;
        &__title{
            margin-bottom: 5px;
            font-size: 20px;
        }
        &__btn_home{
            margin-bottom: 10px;
        }
        img{

            margin: 50px auto;
        }
    }
}