.bg-main{
    background-color: $color_main;
}
.bg-grey{
    background: $bg_register;
}
*{
    box-sizing: border-box;
    font-family: $font_regular;
}
body, html{
    background: $bg_register;
    height: 100%;
}
.wrapper {
    position: relative;
    min-height: 100vh;
    // min-height: 100vh;
}
.container{
    width: 96%;
    max-width: 1170px;
    margin: auto;
    // position: relative;
    &--small{
        max-width: 1000px;
    }
}
h1, h2, h3, h4, h5, h6,p{
    margin: 0;
    font-weight: 400;
}
figure{
    margin: 0;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.text-white{
    color: $color_white;
}
.text-dark{
    color: $color_black;
}
img{
    display: block;
    margin:0;
}
.text-center{
    text-align: center;
}
ul {
    margin:0;
    li{
    list-style-type: none;
    }
}
.img-responsive{
    width: 100%;
    height: auto;
}
.d-none{
    display: none;
}
.d-inline-block{
    display: inline-block;
}
.mb-10{
    margin-bottom: 10px;
}
.content_page{
    background: $bg_register;
}
.page{

}
@media screen and (max-width: 768px){
    .content_page{
        padding-bottom: 10px;
    }
}

// @media screen and (max-width: 480px){
//     .content_page{
//         padding-bottom: 10px;
//     }
// }
