/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.bg-main {
  background-color: #5B1B6B; }

.bg-grey {
  background: #F2F2F2; }

* {
  box-sizing: border-box;
  font-family: "ProximaNova-Regular"; }

body, html {
  background: #F2F2F2;
  height: 100%; }

.wrapper {
  position: relative;
  min-height: 100vh; }

.container {
  width: 96%;
  max-width: 1170px;
  margin: auto; }
  .container--small {
    max-width: 1000px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400; }

figure {
  margin: 0; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

.text-white {
  color: #fff; }

.text-dark {
  color: #000; }

img {
  display: block;
  margin: 0; }

.text-center {
  text-align: center; }

ul {
  margin: 0; }
  ul li {
    list-style-type: none; }

.img-responsive {
  width: 100%;
  height: auto; }

.d-none {
  display: none; }

.d-inline-block {
  display: inline-block; }

.mb-10 {
  margin-bottom: 10px; }

.content_page {
  background: #F2F2F2; }

@media screen and (max-width: 768px) {
  .content_page {
    padding-bottom: 10px; } }
.title {
  font-size: 36px;
  color: #2B245B; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.8em;
  background: #23241f; }

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff; }

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672; }

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef; }

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2; }

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e; }

.header {
  padding: 15px 0 15px 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.64);
  position: relative; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 140px;
    height: auto; }
  .header__menu {
    display: flex;
    align-items: center; }
    .header__menu__ul {
      display: flex; }
    .header__menu__link {
      color: #5B1B6B;
      margin: 0 20px;
      font-size: 18px;
      transition: .3s ease all; }
      .header__menu__link:hover {
        font-weight: bold;
        text-decoration: underline; }

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.product {
  margin-bottom: 30px; }
  .product__content {
    padding-left: 15px;
    padding-right: 15px; }
  .product__content_btn_recharge {
    width: 170px;
    text-align: center;
    margin-top: 20px; }
    .product__content_btn_recharge__text {
      font-size: 12px;
      color: #fff;
      margin-bottom: 5px; }
    .product__content_btn_recharge--center {
      margin: auto; }
  .product__recharge {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .product__link {
    color: #fff;
    margin-top: 20px;
    transition: .3s ease all;
    display: inline-block;
    border-bottom: 1px solid transparent;
    font-size: 14px; }
    .product__link:hover {
      border-bottom: 1px solid #fff; }
  .product__description {
    padding: 15px;
    display: block;
    color: #000;
    background: #fff; }
    .product__description--portada {
      display: none; }
    .product__description p {
      font-size: 15px; }
  .product__image {
    position: relative; }
  .product__info {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s ease all;
    background: rgba(0, 0, 0, 0);
    top: 0;
    padding: 15px; }
    .product__info__block {
      width: 200px;
      transition: 0.3s ease all;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin: auto;
      opacity: 0; }
      .product__info__block__top {
        margin-top: 10px;
        text-align: center; }
      .product__info__block__bot__credit {
        margin-bottom: 20px;
        display: flex;
        justify-content: center; }
        .product__info__block__bot__credit__actions {
          color: #fff;
          font-size: 36px;
          border-radius: 50%;
          border: 1px solid #fff;
          width: 45px;
          height: 45px;
          cursor: pointer; }
          .product__info__block__bot__credit__actions--plus {
            padding: 4px 0; }
          .product__info__block__bot__credit__actions--restar {
            padding: 3px 0; }
          .product__info__block__bot__credit__actions:hover {
            background: #fff;
            color: #000; }
          .product__info__block__bot__credit__actions--dark {
            border: 1px solid #000;
            color: #000; }
            .product__info__block__bot__credit__actions--dark:hover {
              background: #000;
              color: #fff; }
        .product__info__block__bot__credit__point {
          font-size: 24px;
          color: #fff;
          margin: 0 15px;
          margin-top: 11px; }
          .product__info__block__bot__credit__point--dark {
            color: #000; }
  .product__name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 3px; }
  .product:hover .product__info {
    background: rgba(0, 0, 0, 0.8); }
    .product:hover .product__info__block {
      opacity: 1; }

.product_detail {
  padding-top: 40px; }
  .product_detail__des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    width: calc(100% - 430px); }
  .product_detail__info {
    display: flex;
    flex-wrap: wrap; }
  .product_detail__name {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px; }
  .product_detail__paraf {
    margin-top: 20px; }
  .product_detail__actions {
    margin-top: 80px; }
    .product_detail__actions__text_options {
      color: #000;
      font-size: 12px;
      margin-bottom: 5px; }
    .product_detail__actions__credit {
      font-size: 16px;
      margin-bottom: 3px;
      margin-top: 5px; }
    .product_detail__actions__total_credit {
      font-size: 42px;
      font-weight: 400; }
  .product_detail__terms {
    margin: 40px auto;
    max-width: 600px;
    text-align: justify;
    color: #9B9B9B;
    font-weight: 400; }
    .product_detail__terms__title {
      text-align: center;
      margin-bottom: 10px;
      color: #000; }

@media screen and (max-width: 1100px) {
  .product__description--portada {
    display: block; } }
@media screen and (max-width: 960px) {
  .product__info {
    display: none; }

  .product__description--portada {
    display: block; } }
@media screen and (max-width: 768px) {
  .product_detail__info {
    flex-direction: column-reverse; }
    .product_detail__info figure img {
      margin: auto; }
  .product_detail__actions {
    margin-top: 30px; }
  .product_detail__des {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 15px; }

  .product__name {
    font-size: 18px; } }
.card__list {
  margin-top: 40px;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap; }
.card__container {
  margin-bottom: 30px;
  margin-top: 30px; }
.card__item {
  cursor: pointer;
  border-radius: 5px;
  background: #fff;
  max-width: 270px;
  width: 270px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
  .card__item__description {
    padding: 10px; }
  .card__item__title {
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 17px; }
  .card__item__date {
    font-size: 12px;
    color: #5B1B6B;
    text-align: right;
    display: block; }
    .card__item__date i {
      margin-right: 4px; }
  .card__item__text {
    font-size: 15px;
    color: #4A4A4A;
    margin-bottom: 20px; }
  .card__item__img {
    border-radius: 5px 5px 0 0; }
  .card__item:hover {
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }
.footer {
  width: 100%; }
  .footer__bot {
    background: #1f1f1f;
    padding: 15px 0; }
    .footer__bot__rights {
      font-size: 13px;
      margin: 0;
      color: #fff; }
  .footer__logo {
    width: 33.333%; }
  .footer__top {
    padding-top: 30px;
    background: #1f1f1f;
    padding-bottom: 30px; }
  .footer ul {
    padding: 0; }
  .footer li {
    margin-bottom: 10px; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .footer__center {
    width: 33.333%; }
  .footer__redes {
    display: flex;
    justify-content: center; }
    .footer__redes a {
      margin: 0 15px;
      padding: 6px;
      border-radius: 4px;
      color: #fff;
      transition: .3s ease all; }
      .footer__redes a i {
        font-size: 30px; }
    .footer__redes a:first-child {
      margin-left: 0; }
    .footer__redes__github:hover {
      background: #000; }
    .footer__redes__gitlab:hover {
      background: #e24329; }
    .footer__redes__youtube:hover {
      background: #FF0000; }
  .footer__title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center; }
  .footer__suscribe {
    width: 33.333%; }
    .footer__suscribe__form {
      display: flex; }
    .footer__suscribe__input {
      border-radius: 4px 0 0 4px !important; }
    .footer__suscribe__btn {
      border-radius: 0 4px 4px 0 !important;
      font-size: 14px; }
  .footer__link {
    color: #2B245B;
    transition: .3s ease all;
    font-size: 17px; }
    .footer__link:hover {
      font-weight: bold; }

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    position: inherit; }
    .footer__left {
      margin-bottom: 10px; }
    .footer__container {
      flex-direction: column; } }
@media screen and (max-width: 360px) {
  .footer__container {
    text-align: center; }
  .footer__left {
    flex-direction: column; }
    .footer__left__ul {
      margin: auto; } }
.tags {
  margin-top: 30px; }
  .tags__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .tags__item {
    margin: 0 10px;
    padding: 8px;
    border-radius: 4px;
    color: #2B245B;
    cursor: pointer;
    font-size: 14px;
    transition: .3s ease all;
    background: #fff;
    border: 1px solid #2B245B; }
    .tags__item:hover {
      background: #2B245B;
      color: #fff; }

.form__input {
  display: inline-block;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  border: none;
  padding-left: 5px; }
  .form__input__error {
    color: #fff;
    font-size: 13px;
    margin-top: 5px; }
  .form__input input {
    width: 100%;
    height: 36px;
    padding: 4px 8px;
    border-radius: 6px;
    border: none;
    width: 100%;
    color: black;
    outline: none;
    border: 1px solid #D8D8D8; }
  .form__input--small input {
    height: 40px; }
.form__block_2 {
  display: flex; }
  .form__block_2__input {
    width: 50%;
    padding-right: 10px; }
    .form__block_2__input:last-child {
      padding-right: 0; }
.form__select select, .form .combodate select {
  height: 60px;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  width: 100%;
  color: black;
  outline: none;
  background: #fff;
  border: 1px solid #D8D8D8; }
.form__select:first-child, .form .combodate:first-child {
  margin-top: 0; }
.form__checkbox input {
  border: 1px solid #D8D8D8;
  background: #fff; }
.form__checkbox span {
  color: #fff; }
.form__checkbox span.dark {
  color: #000; }
.form__checkbox--center {
  text-align: center; }
.form__button {
  width: 100%; }

@media screen and (max-width: 480px) {
  .form__block_2--birth {
    flex-direction: column; }
  .form__block_2__input {
    width: 100%; } }
.message {
  padding: 15px;
  border: 1px solid #9B9B9B;
  margin: 10px 0;
  background: #fff; }
  .message--success {
    color: #3FB06F; }

.btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 8px 20px;
  min-height: 36px;
  border-radius: 4px;
  transition: .2s ease all;
  font-weight: bold; }
  .btn:hover {
    color: #fff;
    background: #000; }
  .btn--small {
    padding: 8px 15px; }
  .btn--medium {
    width: 100%;
    height: 40px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block; }
  .btn--medium-l {
    width: 80%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    display: block; }
  .btn--large {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    outline: none;
    display: block;
    text-align: center; }
  .btn--facebook {
    color: #fff;
    background: #4267B2; }
  .btn--dark {
    background: #fff;
    color: #000;
    font-weight: 400;
    border: 1px solid #000; }
  .btn--full-dark {
    background: #000;
    color: #fff;
    font-weight: 400;
    border: 1px solid #000; }
  .btn--grey {
    background: #D8D8D8;
    color: #9B9B9B;
    font-weight: bold;
    border: 1px solid #9B9B9B; }
  .btn--blue {
    background: #2B245B;
    color: #fff; }
  .btn--main {
    background: #5B1B6B;
    color: #fff;
    font-weight: bold; }

.timeline {
  margin-bottom: 10px; }
  .timeline__total {
    max-width: 200px;
    background: #B3B1B3;
    height: 7px;
    border-radius: 4px;
    margin-bottom: 3px;
    position: relative; }
  .timeline__restar {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #B3B1B3; }
  .timeline__text {
    color: #fff;
    margin-top: 2px;
    font-size: 13px; }
    .timeline__text--dark {
      color: #000; }

.cards_affiliated__item {
  border: 1px solid #000;
  display: flex;
  padding: 10px;
  margin-bottom: 10px; }
.cards_affiliated__title {
  margin-bottom: 10px; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: none; }

button {
  cursor: pointer; }

.trigger {
  margin: 0 0.75rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 0.875rem;
  font-weight: 300; }
  .trigger i {
    margin-right: 0.3125rem; }
  .trigger:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0vh;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.25s ease;
  z-index: 9999; }
  .modal.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s; }
    .modal.open > .content-wrapper {
      transform: scale(1); }
  .modal .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.25s;
    transition-delay: 0.15s; }
    .modal .content-wrapper .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      transition: 0.25s linear; }
      .modal .content-wrapper .close:before, .modal .content-wrapper .close:after {
        position: absolute;
        content: '';
        width: 1.25rem;
        height: 0.125rem;
        background-color: black; }
      .modal .content-wrapper .close:before {
        transform: rotate(-45deg); }
      .modal .content-wrapper .close:after {
        transform: rotate(45deg); }
      .modal .content-wrapper .close:hover {
        transform: rotate(360deg); }
        .modal .content-wrapper .close:hover:before, .modal .content-wrapper .close:hover:after {
          background-color: tomato; }
    .modal .content-wrapper .modal-header {
      position: relative;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0 0 1.25rem; }
      .modal .content-wrapper .modal-header__title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold; }
      .modal .content-wrapper .modal-header__subtitle {
        font-size: 17px;
        margin-bottom: 2px; }
    .modal .content-wrapper .content {
      position: relative; }
      .modal .content-wrapper .content p {
        font-size: 0.875rem;
        line-height: 1.75; }
    .modal .content-wrapper .modal-footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      padding: 1.875rem 0 0; }
      .modal .content-wrapper .modal-footer--center {
        justify-content: center; }
      .modal .content-wrapper .modal-footer .action {
        position: relative;
        margin-left: 0.625rem;
        padding: 0.625rem 1.25rem;
        border: none;
        background-color: slategray;
        border-radius: 0.25rem;
        color: white;
        font-size: 0.87rem;
        font-weight: 300;
        overflow: hidden;
        z-index: 1; }
        .modal .content-wrapper .modal-footer .action:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          transition: width 0.25s;
          z-index: 0; }
        .modal .content-wrapper .modal-footer .action:first-child {
          background-color: #2ecc71; }
        .modal .content-wrapper .modal-footer .action:last-child {
          background-color: #e74c3c; }
        .modal .content-wrapper .modal-footer .action:hover:before {
          width: 100%; }

@media screen and (max-width: 768px) {
  .modal .content-wrapper {
    width: 80%;
    padding: 25px 15px; } }
@media screen and (max-width: 480px) {
  .modal .content-wrapper {
    width: 90%; } }
.landing {
  padding-top: 40px; }
  .landing__container {
    display: flex;
    padding-bottom: 40px; }
  .landing__thanks {
    max-width: 550px;
    margin: auto;
    margin-top: 60px; }
    .landing__thanks__logo {
      display: inline-block;
      margin: 15px 0; }
    .landing__thanks a {
      display: block;
      width: 100px;
      margin: auto;
      text-align: center;
      margin-top: 20px; }
  .landing__block-left {
    width: 60%;
    margin-top: 100px; }
    .landing__block-left__title {
      color: #fff;
      font-size: 50px; }
    .landing__block-left__text {
      color: #fff;
      font-size: 20px; }
  .landing__block-right {
    width: 40%; }
    .landing__block-right__text {
      color: #fff;
      margin: 20px 0;
      font-size: 20px; }
  .landing__form__checkbox {
    margin: 25px 0;
    text-align: center; }

@media only screen and (max-width: 960px) {
  .landing__container {
    flex-direction: column; }
  .landing__block-left {
    margin-top: 0px;
    width: 100%; }
  .landing__block-right {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .landing__block-left__title {
    font-size: 42px; } }
@media only screen and (max-width: 480px) {
  .landing__block-left__title {
    font-size: 28px; } }
.login {
  width: 100%;
  background: #ED6E05; }
  .login__container {
    display: flex; }
  .login__banner {
    display: block;
    min-height: calc(100vh - 252px);
    max-width: 800px;
    background-size: cover;
    background-position: center center; }
  .login__form {
    margin-top: 40px; }
    .login__form__content {
      display: flex; }
    .login__form__input {
      margin-right: 30px; }
  .login__content {
    max-width: 600px;
    padding: 20px 0; }
    .login__content__title {
      color: #fff;
      font-size: 30px;
      font-weight: bold; }
  .login__left {
    min-height: calc(100vh - 252px);
    width: 50%;
    height: 100%;
    background: #ED6E05;
    display: flex;
    padding-right: 80px;
    align-items: center; }
  .login__right {
    width: 50%;
    height: 100%;
    min-height: calc(100vh - 252px); }

.page_create_account {
  padding: 50px 0;
  background: #F2F2F2; }
  .page_create_account__content_form {
    max-width: 500px;
    margin: auto; }
    .page_create_account__content_form--large {
      max-width: 800px; }
    .page_create_account__content_form__perfil {
      display: flex;
      align-items: center; }
      .page_create_account__content_form__perfil img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 5px; }
    .page_create_account__content_form__checkbox {
      width: 100%;
      margin-top: 10px; }
    .page_create_account__content_form__title {
      margin-bottom: 20px;
      margin-top: 40px;
      font-size: 18px; }
  .page_create_account__content_pasos {
    display: flex;
    justify-content: center;
    width: 100%; }
  .page_create_account__paso {
    position: relative;
    margin: 20px 20px 30px;
    padding: 12px 12px;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    background: #D8D8D8;
    color: #9B9B9B;
    border: 2px solid #9B9B9B; }
    .page_create_account__paso--active {
      color: #fff;
      border: 2px solid #fff;
      background: #ED6E05; }
    .page_create_account__paso--check {
      background: #ED6E05;
      border: 2px solid #ED6E05;
      color: #fff; }
  .page_create_account__paso:first-child:after {
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    left: 100%;
    top: 22px;
    background: #ED6E05; }

.register {
  padding: 80px 0;
  background: #F2F2F2;
  min-height: calc(100vh - 77px); }
  .register__block {
    max-width: 350px;
    margin: auto;
    text-align: center; }
    .register__block__title {
      margin-bottom: 5px;
      font-size: 20px; }
    .register__block__btn_home {
      margin-bottom: 10px; }
    .register__block img {
      margin: 50px auto; }

.home {
  padding-bottom: 40px; }
  .home__banner {
    position: relative; }
    .home__banner__overlay {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 50;
      width: 100%;
      height: 100%; }
  .home__slogan {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 42%;
    max-width: 500px;
    text-align: center;
    color: #fff;
    z-index: 80; }
    .home__slogan__title {
      font-size: 50px;
      text-shadow: 1px 2px 100px #fff; }
    .home__slogan__text {
      font-size: 32px;
      text-shadow: 1px 2px 100px #fff; }
  .home__post {
    padding: 40px 0; }

.post__title {
  font-size: 36px;
  padding: 50px 0; }
.post__container {
  background: #fff;
  padding: 30px 0; }
  .post__container p {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 27px; }
.post__con {
  max-width: 900px;
  margin: auto; }

.page_profile {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #F2F2F2;
  min-height: calc(100vh - 77px); }
  .page_profile__participated {
    margin-top: 50px; }
    .page_profile__participated__items {
      margin-top: 30px; }
    .page_profile__participated__item {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #9B9B9B;
      background: #fff;
      padding: 20px 20px; }
  .page_profile__my_cards {
    margin-top: 60px; }
    .page_profile__my_cards__title {
      font-size: 22px;
      font-weight: bold; }
    .page_profile__my_cards__list {
      margin-top: 20px;
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap; }
      .page_profile__my_cards__list__item {
        background: #fff;
        margin: 10px; }
  .page_profile__won {
    margin-top: 60px; }
    .page_profile__won__title {
      font-size: 22px;
      font-weight: bold; }
    .page_profile__won__items {
      margin-top: 20px; }
    .page_profile__won__item {
      border: 1px solid #9B9B9B;
      margin-bottom: 10px;
      border-radius: 4px;
      display: flex; }
      .page_profile__won__item__info {
        background: #fff;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .page_profile__won__item__info__footer__bot {
          margin-top: 3px;
          display: flex;
          justify-content: space-between; }
        .page_profile__won__item__info__footer__status {
          font-size: 15px;
          margin-top: 5px; }
        .page_profile__won__item__info__footer__date {
          font-size: 15px;
          color: #A0A0A0; }
        .page_profile__won__item__info__play {
          font-size: 14px;
          color: #9B9B9B; }
          .page_profile__won__item__info__play strong {
            color: #000; }
        .page_profile__won__item__info__winner {
          margin-top: 30px;
          display: flex;
          align-items: center; }
          .page_profile__won__item__info__winner__num {
            text-align: center;
            background: #5B1B6B;
            color: #fff;
            padding: 12px 10px;
            margin-left: 8px;
            border-radius: 50%;
            width: 40px;
            height: 40px; }
        .page_profile__won__item__info__name {
          font-size: 23px;
          margin-bottom: 3px; }
  .page_profile__header {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #9B9B9B;
    display: flex;
    align-items: center; }
    .page_profile__header--info {
      justify-content: space-between; }
    .page_profile__header__edit_link {
      margin-left: 10px;
      color: #000;
      text-decoration: underline; }
    .page_profile__header__name {
      font-weight: bold;
      margin-left: 10px; }
    .page_profile__header__left {
      display: flex;
      align-items: center; }
    .page_profile__header img {
      border-radius: 50%; }
    .page_profile__header__right {
      display: flex; }
    .page_profile__header__balance {
      margin-right: 30px; }
      .page_profile__header__balance__text {
        font-size: 12px; }
      .page_profile__header__balance__title {
        font-weight: bold;
        font-size: 20px; }
  .page_profile__form {
    text-align: center; }
    .page_profile__form__btn {
      margin-top: 30px;
      padding: 12px 45px;
      font-size: 20px; }
    .page_profile__form__content_block {
      display: flex;
      margin: 20px -15px 0px -15px; }
    .page_profile__form__section {
      margin-top: 45px; }
    .page_profile__form__block {
      padding: 0 15px;
      width: 50%; }
      .page_profile__form__block__title {
        text-align: left;
        margin: 10px 0;
        font-weight: bold; }

@media screen and (max-width: 768px) {
  .page_profile__form__block {
    width: 100%; }
  .page_profile__form__content_block {
    flex-wrap: wrap; } }
@media screen and (max-width: 650px) {
  .page_profile__won__item__info {
    padding: 10px; }
  .page_profile__won__item__info__footer__bot {
    flex-direction: column; } }
@media screen and (max-width: 600px) {
  .page_profile__won__item {
    flex-direction: column; }
    .page_profile__won__item img {
      width: 100%;
      height: auto; }
    .page_profile__won__item__info__play {
      width: 100%; }
  .page_profile__participated__item {
    flex-direction: column; }
    .page_profile__participated__item__top {
      width: 100%;
      margin-bottom: 5px; } }
.page_recharge {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F2F2F2;
  min-height: calc(100vh - 77px); }
  .page_recharge__pago_efectivo__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .page_recharge__pago_efectivo__header h3 {
      margin-right: 10px; }
  .page_recharge__pago_efectivo__medios {
    margin-bottom: 20px; }
    .page_recharge__pago_efectivo__medios ul li {
      margin-bottom: 10px; }
  .page_recharge__container {
    max-width: 900px;
    background: #fff;
    padding: 30px 20px; }
  .page_recharge__title {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px; }
  .page_recharge__text {
    text-align: center; }
  .page_recharge__items {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -5px; }
  .page_recharge__item {
    width: 33.33%;
    padding: 0px 5px;
    margin-bottom: 10px; }
    .page_recharge__item__border {
      border: 1px solid #9B9B9B;
      background: #fff;
      padding: 30px 20px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between; }
  .page_recharge__pre_checkout {
    max-width: 270px;
    margin: auto;
    text-align: center; }
    .page_recharge__pre_checkout__total_text {
      font-size: 15px;
      margin-bottom: 5px; }
    .page_recharge__pre_checkout__total {
      font-size: 36px;
      margin-bottom: 15px; }
    .page_recharge__pre_checkout__selected_text {
      font-size: 13px;
      margin-bottom: 10px; }
    .page_recharge__pre_checkout__cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px; }
    .page_recharge__pre_checkout__check {
      margin-bottom: 25px;
      display: block;
      font-size: 14px; }
      .page_recharge__pre_checkout__check a {
        text-decoration: underline;
        color: #000; }
    .page_recharge__pre_checkout__btn {
      width: 200px;
      margin: auto; }

@media screen and (max-width: 768px) {
  .page_recharge__item {
    width: 50%; }
    .page_recharge__item__border {
      padding: 20px 15px; } }
@media screen and (max-width: 480px) {
  .page_recharge__item {
    width: 100%; } }
.page_payment__container {
  max-width: 450px;
  margin: auto; }
.page_payment__cards--none {
  display: none; }
.page_payment__cards input {
  display: none; }
.page_payment__cards__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #A0A0A0;
  border-radius: 4px;
  padding: 25px 20px;
  margin-bottom: 10px;
  position: relative;
  opacity: 0.4; }
  .page_payment__cards__item__delete {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    color: #D8D8D8; }
    .page_payment__cards__item__delete input {
      display: none; }
    .page_payment__cards__item__delete:hover {
      color: #5B1B6B; }
  .page_payment__cards__item--active {
    opacity: 1; }
  .page_payment__cards__item__left {
    display: flex;
    align-items: center;
    margin-right: 10px; }
    .page_payment__cards__item__left strong {
      margin-left: 5px; }
  .page_payment__cards__item__right {
    color: #3FB06F; }
.page_payment__cards__add {
  text-align: center;
  border-bottom: 1px solid transparent;
  display: block;
  color: #000;
  width: 140px;
  margin: auto;
  margin-top: 3px; }
  .page_payment__cards__add:hover {
    border-bottom: 1px solid #000; }
.page_payment__form--none {
  display: none; }
.page_payment__register {
  background: #fff;
  padding: 35px; }
  .page_payment__register__error {
    font-size: 12px;
    margin-top: 10px;
    color: #5B1B6B; }
  .page_payment__register__text {
    font-size: 12px;
    text-align: center; }
  .page_payment__register__mount {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    display: block; }
  .page_payment__register__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
  .page_payment__register__btn {
    margin-top: 20px; }
    .page_payment__register__btn--load {
      border: 6px solid #f3f3f3;
      border-radius: 50%;
      border-top: 6px solid #5B1B6B;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
      margin: auto; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.pages {
  background: #fff;
  padding: 40px 50px;
  box-sizing: border-box; }
  .pages__title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px; }
  .pages__subtitle {
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600; }
  .pages__text {
    font-size: 16px; }
  .pages__main {
    font-family: "ProximaNova-Regular"; }
    .pages__main p, .pages__main li, .pages__main strong, .pages__main h1, .pages__main h2, .pages__main h3, .pages__main h4, .pages__main h5, .pages__main h6 {
      font-family: "ProximaNova-Regular"; }
  .pages ul {
    margin: 0;
    padding: 0;
    padding-left: 40px; }
    .pages ul li {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      list-style-type: disc; }

.about_me__title {
  font-size: 36px;
  padding: 50px 0; }
.about_me__content {
  background: #fff; }
  .about_me__content p {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 25px; }
.about_me__container {
  max-width: 900px;
  padding: 30px 0; }

/*# sourceMappingURL=main.css.map */
