$color_main: #5B1B6B;;
$color_white: #fff;
$color_black: #000;
$color_btn: #D8D8D8;
$color_gitlab: #e24329;
$color_youtube: #FF0000;
$color_border_btn: #9B9B9B;
$color_black_light: #1f1f1f;
$color_black: #000;
$font_regular: 'ProximaNova-Regular';
$color_facebook: #4267B2;
$bg_register: #F2F2F2;
$color_green: #3FB06F;
$color_grey: #A0A0A0;
$color_gray: #4A4A4A;
$color_blue: #2B245B;
$color_orange: #ED6E05;
// Botón sobre magenta: Blanco y el de FB #4267B2
// Background en registro: #F2F2F2
// Verde icono pasos del registro: #3FB06F
// Botón en registro: Fill #D8D8D8 Border #9B9B9B
// Botón recarga en Header #000000