.form{

    &__input{
        display: inline-block;
        width: 100%;
        text-align: left;
        border-radius: 4px;
        border: none;
        padding-left: 5px;
        &__error{
            color: $color_white;
            font-size: 13px;
            margin-top: 5px;
        }
        input{
            width: 100%;
            height: 36px;
            padding: 4px 8px;
            border-radius: 6px;
            border: none;
            width: 100%;
            color: black;
            outline: none;
            border: 1px solid #D8D8D8;
        }
        &--small{
            input{
                height:40px;
            }
        }
        // &:first-child{
        //     margin-top: 0;
        // }
    }
    &__block_2{
        display: flex;
        &--birth{

        }
        &__input{
            width: 50%;
            padding-right: 10px;
            &:last-child{
                padding-right: 0;
            }
        }
    }
    &__select, .combodate{
        // margin: 8px 0;
        select{
            height: 60px;
            padding: 4px 8px;
            border-radius: 6px;
            border: none;
            width: 100%;
            color: black;
            outline: none;
            background: $color_white;
            border: 1px solid #D8D8D8;
        }
        &:first-child{
            margin-top: 0;
        }
    }
    &__checkbox{
        input{
            border: 1px solid #D8D8D8;
            background: $color_white;
        }
        span{
            color: $color_white;
        }
        span.dark{
            color: $color_black;
        }
        &--center{
            text-align: center;
        }
    }
    &__button{
        width: 100%;
    }
    &--flex{
        // display: flex;
        // flex-wrap:wrap;
    }
}
@media screen and (max-width: 480px){
    .form{
        &__block_2{
            &--birth{
                flex-direction: column;

            }
            &__input{
                width: 100%;
            }
        }
    }
}
