{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniel Huamani</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% block css %}

    {% endblock css %}
</head>
<body class="{% block class_body %}{% endblock %}">
    <div class="wrapper">
        {% include "./header.html" %}
        <div class="content_page ">
            {% block content %}

            {% endblock  %}
        </div>
        {% include "./footer.html" %}
    </div>
    <script src='{% static "web/js/jquery.js" %}'></script>
    {% block js %}

    {% endblock js %}
</body>
</html>