{% load static %}
<footer class='footer'>
    <div class="footer__top">
        <div class="container footer__container">
            <div class="footer__logo">
                <figure>
                    <img src="{% static 'img/daniel-5.png' %}" width="150">
                </figure>
            </div>
            <div class="footer__center">
                <h3 class="footer__title">
                    SIGUEME EN:
                </h3>
                <div class="footer__redes">
                    <a href="" class="footer__redes__github">
                        <i class="fab fa-github"></i>
                    </a>

                    <a href="" class="footer__redes__gitlab">
                        <i class="fab fa-gitlab"></i>
                    </a>
                    <a href="" class="footer__redes__youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>

            </div>
            <div class="footer__suscribe">
                <form class="form footer__suscribe__form">
                    <div class="form__input">
                        <input type="" placeholder="email" class="footer__suscribe__input" name="">
                    </div>
                    <button class="btn btn--blue footer__suscribe__btn">SUSCRIBITE</button>
                </form>

            </div>
        </div>
    </div>
    <div class="footer__bot">
        <div class="container">
            <p class="text-center footer__bot__rights">
                Derechos reservados 2019
            </p>
        </div>
    </div>
</footer>