{% load static %}
<header class="header">
    <div class="container">
        <img class="header__logo" src="{% static 'img/daniel-4.png' %}">
        <nav class='header__menu'>
            <ul class="header__menu__ul">
                <li>
                    <a href="" class="header__menu__link">Home</a>
                </li>
                <li>
                    <a href="{% url 'web:post' %}" class="header__menu__link">Blog</a>
                </li>
                <li>
                    <a href="{% url 'web:courses' %}" class="header__menu__link">Cursos</a>
                </li>
                <li>
                    <a href="" class="header__menu__link">Sobre mi</a>
                </li>
                <li>
                    <a href="" class="header__menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>