{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block content %}
<section class="about_me">
    <div class="about_me__header">
        <div class="container ">
            <div class="about_me__title text-center">
                Daniel Huamani
            </div>
        </div>
    </div>
    <div class="about_me__content">

        <div class="about_me__container container">
            <p>Hola, Soy Daniel Huamani bachiller en Ingenería de Sistema de la <a href="">Univerisdad Nacional del Callao</a>
            <p>Me desempeño como Programador, considero una persona responsable y de rápido aprendizaje</p>
            <p>
                He trabajado en diferentes empresas desarrollando: Web cms, Paneles adminsitrativos, ecommerce.
            </p>
            <p>
                Para lo cual manejo diferentes tecnologias:
            </p>
            <ul>
                <li>
                    <img src="{% static 'img/python.png' %}" height="150">
                </li>
                <li>
                    <img src="{% static 'img/django.png' %}" height="150">
                </li>
            </ul>
            <p>
                Tengo conocmientos en:
            </p>
        </div>
    </div>
</section>
{% endblock %}