{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block content %}
<section class="blog">
    <div class="container ">
        <div class="card__container">
            <div class="title text-center card__title">
                Blog
            </div>
            <div class="tags">
                <div class="tags__list">
                    <div class="tags__item">
                        Python
                    </div>
                    <div class="tags__item">
                        Django
                    </div>
                    <div class="tags__item">
                        Javascript
                    </div>
                    <div class="tags__item">
                        Base de datos
                    </div>
                    <div class="tags__item">
                        Css
                    </div>
                    <div class="tags__item">
                        Vue
                    </div>
                    <div class="tags__item">
                        React
                    </div>
                </div>
            </div>
            <div class="card__list">
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/3logo.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/laptod.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}