{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block content %}
<section class="home">
    <div class="home__banner">
        <div class="home__banner__overlay"></div>
        <img src="{% static 'img/img-contacto.jpg' %}" class="img-responsive">
        <div class="home__slogan">
            <h3 class="home__slogan__title">Daniel <strong>Huamani</strong></h3>
            <p class="home__slogan__text">Amor por el codigo</p>
        </div>
    </div>
    <div class="home__card card">
        <div class="container ">
            <div class="card__container">
                <div class="title text-center card__title">
                    Últimos cursos
                </div>
                <div class="card__list">
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/3logo.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/laptod.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__container">
                <div class="title text-center card__title">
                    Últimas Publicaciones
                </div>
                <div class="card__list">
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/3logo.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                    <div class="card__item">
                        <figure>
                            <img src="{% static 'img/laptod.jpg' %}" class="card__item__img img-responsive">
                        </figure>
                        <div class="card__item__description">
                            <div class="card__item__description__top">
                                <h3 class="card__item__title">
                                    Hola Mundo en Django
                                </h3>
                                <p class="card__item__text">
                                    Vamos iniciar nuestros primeros pasos en el mundo de Django
                                </p>
                            </div>
                            <span class="card__item__date">
                                <i class="far fa-calendar-alt"></i>
                                24 de Septiembre, 2019
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}