{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block content %}
<section class="login">
    <div class="container login__container">
        <div class="login__left">
            <div class="login__content ">
                <h3 class='login__content__title'>Ingresa con tu documento de identidad y descubre los mejores beneficios</h3>
                <form class="login__form form" method="POST" action="">
                    {% csrf_token %}
                    <div class="login__form__content">
                        {{form.num_document|attr:'placeholder:Nro de documento'|add_class:'form__input login__form__input'}}
                        <button class="btn btn--blue">Ingresar</button>
                    </div>
                    <p class='form__input__error'>{{form.num_document.errors.as_text}}</p>
                </form>
            </div>
        </div>
        <div class="login__right">
            <div class="login__banner" style="background-image:url('{% static "web/img/fondo.png" %}');">
            </div>

        </div>
    </div>
</section>
{% endblock %}