{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
{% endblock css %}
{% block content %}
<section class="post">
    <div class="container ">
        <h3 class="post__title text-center">
            Hola Mundo Django
        </h3>

    </div>
    <div class="post__container">
        <div class="container post__con">
            <p>
                En este tutorial vamos a ver un primer acercamiento al framework Django, el más famoso y utilizado en lo que respecta al lenguaje de programación python. Para empezar simplemente haremos un típico hola mundo, y de paso, enviaremos variables y tuplas a una vista para ver como podemos mostrar estos datos de forma sencilla.
            </p>

            <p>
                También veremos como crear el directorio templates y como decirle a django su localización, toda esta información estará en el archivo settings.py de nuestro proyecto.

            </p>
            <p>
                Si ya seguiste el tutorial de instalación de python y django podemos continuar sin problemas el tutorial.

                Crear un nuevo proyecto en Django
                Primero debemos colocarnos en el directorio donde queramos crear nuestro proyecto, y una vez situados crearlo con el siguiente comando desde la terminal.
            </p>
            <p>
                django-admin.py startproject holamundo
                Esto nos creará un nuevo proyecto con lo más básico, ahora podemos acceder a dicho directorio.
            </p>

            <p>
                Y crear nuestra primera aplicación, una aplicación en django es un modulo independiente con todos los archivos necesarios para poder utilizarlo dentro de un proyecto.
            </p>
            <p>
                  Si entramos ahora a nuestro proyecto, veremos como una carpeta llamada saludo ha sido creada en la raíz, ésto es una aplicación, completamente independiente, con sus vistas, modelos, podemos crear sus propios formularios, archivos de urls etcétera.
            </p>

            <p>
                Hola mundo en Django
                Lo primero que debemos hacer es decirle a django que hemos creado una nueva aplicación, así que abre el archivo alojado en holamundo llamado settings.py, busca la tupla INSTALLED_APPS y añade al final la aplicación saludo de la siguiente forma.
            </p>

            <h2>Known failures</h2>
            <p>There are certain edge cases where Prism will fail.
                There are always such cases in every regex-based syntax highlighter.
                However, Prism dares to be open and honest about them.
                If a failure is listed here, it doesn’t mean it will never be fixed. This is more of a “known bugs” list, just with a certain type of bug.
            </p>

            <h3>String interpolation containing a closing brace</h3>
            <pre><code>`${ {foo:'bar'}.foo }`
            `${ '}' }`</code></pre>
            <pre><code class="language-css">
                .example {
                    font-size: 2em;
                }
            </code></pre>
            <pre><code class="language-python">
                def hello(name):
                    return name
            </code></pre>
            <pre><code class="language-javascript">function hello (){
                return true;
            }
            </code></pre>
        </div>
    </div>
    <div class="container">
                <div class="card__container">
            <div class="title text-center card__title">
                Articulos relacionados
            </div>
            <div class="card__list">
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>
                <div class="card__item">
                    <figure>
                        <img src="{% static 'img/js.jpg' %}" class="card__item__img img-responsive">
                    </figure>
                    <div class="card__item__description">
                        <div class="card__item__description__top">
                            <h3 class="card__item__title">
                                Hola Mundo en Django
                            </h3>
                            <p class="card__item__text">
                                Vamos iniciar nuestros primeros pasos en el mundo de Django
                            </p>
                        </div>
                        <span class="card__item__date">
                            <i class="far fa-calendar-alt"></i>
                            24 de Septiembre, 2019
                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});

</script>
{% endblock js %}