{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block content %}
<section class='page_create_account '>
    <div class="container">
        <h1 class="text-center">Bienvenido Protección que Premia, para comenzar a disfrutar de tus beneficios, completa el siguiente formulario de registro</h1>
        <div class="d-flex">
            <div class="page_create_account__content_form">

                <form action="" class='form' method="POST">
                    {% csrf_token %}
                    <h3 class='page_create_account__content_form__title text-center'>Completa los siguientes campos.</h3>
                    <div class="form__input">
                        {{form.email|attr:"placeholder:Email"}}
                        <p class='form__input__error'>{{form.email.errors.as_text}}</p>
                    </div>
                    <div class="form__input">
                        {{form.first_name|attr:"placeholder:Nombres"}}
                        <p class='form__input__error'>{{form.first_name.errors.as_text}}</p>
                    </div>
                    <div class="form__input">
                        {{form.last_name|attr:"placeholder:Apellidos"}}
                        <p class='form__input__error'>{{form.last_name.errors.as_text}}</p>
                    </div>
                    <div class="form__input form__select">
                        {{form.gender|attr:"placeholder:Apellidos"}}
                        <p class='form__input__error'>{{form.gender.errors.as_text}}</p>
                    </div>
                    <div class="form__input">
                        {{form.birth_date}}
                        <p class='form__input__error'>{{form.birth_date.errors.as_text}}</p>
                    </div>
                    <div class="page_create_account__content_pasos">
                        <div class="page_create_account__paso page_create_account__paso--active">
                            1
                        </div>
                        <div class="page_create_account__paso">
                            2
                        </div>
                    </div>

                    <button class="btn btn--blue btn--large ">
                        Siguiente
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src='{% static "web/js/jquery-mask.js" %}'></script>
<script>
    jQuery(document).ready(function($) {
        $('#id_birth_date').mask('00/00/0000', {
            placeholder: "dd/mm/yyyy",
            'translation': {0: {pattern: /[0-9*]/}}
        });
    });
</script>
{% endblock js %}