{% extends "./common/base.html" %}
{% load static l10n widget_tweaks %}
{% block content %}
<section class='page_create_account '>
    <div class="container">

        <div class="d-flex">
            <div class="page_create_account__content_form">

                <form action="" class='form' method="POST">
                    {% csrf_token %}
                    <h3 class='page_create_account__content_form__title text-center'>Domicilio de envío de premios</h3>
                    <div class="form__input">
                        {{form.address|attr:"placeholder:Dirección (Av, Calle, Jr, etc)"}}
                        <p class='form__input__error'>{{form.address.errors.as_text}}</p>
                    </div>
                    <div class="form__block_2">
                        <div class="form__input form__block_2__input">
                            {{form.nro|attr:"placeholder:Nro"}}
                            <p class='form__input__error'>{{form.nro.errors.as_text}}</p>
                        </div>
                        <div class="form__input form__block_2__input">
                            {{form.dpto|attr:"placeholder:Dpto"}}
                            <p class='form__input__error'>{{form.dpto.errors.as_text}}</p>
                        </div>
                    </div>

                    <div class="form__input">
                        {{form.reference|attr:"placeholder:Referencia (Cruce de la avenida ..)"}}
                        <p class='form__input__error'>{{form.reference.errors.as_text}}</p>
                    </div>
                    <div class="form__input">
                        {{form.telephone|attr:"placeholder:Teléfono"}}
                        <p class='form__input__error'>{{form.telephone.errors.as_text}}</p>
                    </div>
                    <div class="form__input form__select">
                        {{form.city|attr:"placeholder:Ciudad"}}
                        <p class='form__input__error'>{{form.city.errors.as_text}}</p>
                    </div>
                    <div class="form__input form__select">
                        {{form.ubigeo|attr:"placeholder:Ciudad"}}
                        <p class='form__input__error'>{{form.ubigeo.errors.as_text}}</p>
                    </div>

                    <div class="page_create_account__content_form__checkbox form__checkbox form__checkbox--center">
                        <label for="chec">
                            <input type="checkbox" required="required" id='chec'>
                            <a  href='' class='dark'>Acepto los Términos y condiciones</a>
                        </label>
                    </div>
                    <div class="page_create_account__content_pasos">
                        <div class="page_create_account__paso page_create_account__paso--check ">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="page_create_account__paso page_create_account__paso--active">
                            2
                        </div>
                    </div>


                    <button class="btn btn--blue btn--large ">
                        Siguiente
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src='{% static "web/js/jquery-mask.js" %}'></script>
<script>
    jQuery(document).ready(function($) {
        $('#id_birth_date').mask('00/00/0000', {
            placeholder: "dd/mm/yyyy",
            'translation': {0: {pattern: /[0-9*]/}}
        });
    });
</script>
{% endblock js %}